{% extends "layout.html" %}
{% block body %}
 <div class="container"> 
    <h2>Insert User</h2>
    <form action="/user/add/" method="POST" >
      <label for="username">User name:</label><br>
      <input type="text" id="username" name="username" value=""><br>

      <label for="full_name">Full name:</label><br>
      <input type="text" id="full_name" name="full_name" value=""><br>

      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" value=""><br>

      <label for="phone_number">Phone Number:</label><br>
      <input type="number" id="phone_number" name="phone_number" value=""><br>

      <label for="last_login_date">Last Login Date:</label><br>
      <input type="datetime-local" id="last_login_date" name="last_login_date" value=""><br>
      
      <label for="view_costs">View Costs:</label><br>
      <input type="checkbox" id="view_costs" name="view_costs" value=""><br>
      
      <label for="report_access">Report Access:</label><br>
      <input type="checkbox" id="report_access" name="report_access" value=""><br>

      <label for="enabled">Enabled:</label><br>
      <input type="checkbox" id="enabled" name="enabled" value=""><br>

      <label for="is_corporated">Is Corporated:</label><br>
      <input type="checkbox" id="is_corporated" name="is_corporated" value=""><br>

      <label for="created_on">Create on:</label><br>
      <input type="date" id="created_on" name="created_on" value=""><br>

      <label for="modified_on">Modified on:</label><br>
      <input type="date" id="modified_on" name="modified_on" value=""><br><br>


      <input type="submit" value="ADD USER">
    </form> 
    
 </div>
{% endblock %}
